In [1]:
import pandas as pd
from pathlib import Path
import os
import requests
from MCForecastTools import MCSimulation
from datetime import date
from datetime import timedelta
import scipy.stats as st
import numpy as np
%matplotlib inline

In [2]:
# import data from CSV

data_df = pd.read_csv(Path("Index Data - CIQ - 05.04.22.csv"))
data_df.head()

       Date     SPY  CPI Index 10-Year Rate 30-Year Rate
0  5/5/1980  106.38       80.9       10.18%       10.35%
1  5/6/1980  106.25       80.9        9.80%       10.23%
2  5/7/1980  107.18       80.9        9.96%       10.19%
3  5/8/1980  106.13       80.9       10.18%       10.34%
4  5/9/1980  104.72       80.9       10.30%       10.41%

In [3]:
# set index to Date

data_df = data_df.set_index('Date')
data_df.head()

             SPY  CPI Index 10-Year Rate 30-Year Rate
Date
5/5/1980  106.38       80.9       10.18%       10.35%
5/6/1980  106.25       80.9        9.80%       10.23%
5/7/1980  107.18       80.9        9.96%       10.19%
5/8/1980  106.13       80.9       10.18%       10.34%
5/9/1980  104.72       80.9       10.30%       10.41%

In [4]:
data_df.tail()

                SPY  CPI Index 10-Year Rate 30-Year Rate
Date
4/28/2022  4,287.50     287.71        2.85%        2.92%
4/29/2022  4,131.93     287.71        2.89%        2.96%
5/2/2022   4,155.38     287.71        2.99%        3.07%
5/3/2022   4,175.48     287.71        2.97%        3.03%
5/4/2022   4,300.17     287.71        2.93%        3.01%

In [5]:
data_df.dtypes

SPY              object
CPI Index       float64
10-Year Rate     object
30-Year Rate     object
dtype: object

In [15]:
def clean_data(current_data):
    if len(current_data['SPY']) > 0:
        current_data['SPY'] = current_data['SPY'].str.replace("%","",regex = True).astype(float)
        return current_data

In [17]:
print(clean_data(data_df))

ValueError: could not convert string to float: '1,001.27'

In [13]:
# change data types
def clean_data(current_data):
    if len(current_data['10-Year Rate']) > 0:
        current_data['10-Year Rate'] = current_data['10-Year Rate'].str.replace("%","",regex = True).astype(float)
    #if len(current_data['30-Year Rate']) > 0:
       #current_data['30-Year Rate'] = current_data['30-Year Rate'].str.replace("%","",regex = True).astype(float)
    #if len(current_data['SPY']) > 0:
        #current_data['SPY'] = current_data['SPY'].str.replace("%","",regex = True).astype(float)
    return current_data

In [14]:
#clean_data(data_df)
display(clean_data(data_df))
#data_df['10-Year Rate'] = data_df['10-Year Rate'].str.replace("%","",regex = True).astype(float)
#data_df['30-Year Rate'] = data_df['30-Year Rate'].str.replace("%","",regex = True).astype(float)
#data_df['SPY'] = data_df['SPY'].str.replace(",","",regex = True).astype(float)

AttributeError: Can only use .str accessor with string values!

In [ ]:
data_df.dtypes

In [ ]:
data_df.tail()

In [ ]:
SPY = pd.DataFrame(data_df['SPY'])
SPY.columns = ['close']

In [ ]:
final = pd.concat([SPY],axis=1,keys = ['SPY'])
final.head()

In [ ]:
SPY = final['SPY']
SPY.head()

In [ ]:
MC_fiveyear = MCSimulation(
    portfolio_data = final,
    num_simulation = 500,
    num_trading_days = 252*5
)

In [ ]:
data = MC_fiveyear.calc_cumulative_return()

In [ ]:
MC_fiveyear.plot_simulation()

In [ ]:
MC_fiveyear.plot_distribution()

In [ ]:
MC_fiveyear.summarize_cumulative_return()

In [ ]:


data2 = data.mean()
    
interval = st.t.interval(alpha=0.95, df=len(data2)-1, loc=np.mean(data2), scale=st.sem(data2))

In [ ]:
MC_fiveyear

In [ ]:
final.iloc[-1]

In [ ]:
print(f"{interval[0] * final.iloc[-1]}")
print(f"{interval[1] * final.iloc[-1]}")